<div class="row">
    <div class="col-md-3">
        <app-menu></app-menu>
    </div>
    <div class="col-md-9">
        <h3> Search for Provider Info</h3>
        <br>
        <form class="form-inline my-2 my-lg-0" #searchForm="ngForm" (ngSubmit)="searchProvider(searchForm)">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Key" aria-label="Search" (ngModel)="loginForm.searchText" name="searchText">
            <label>Search By</label>
            <select class="form-control my-2 my-lg-0" ng-model="selectedType">
                <option>Provider Id</option>
                <option>Name</option>
                <option>SSN</option>
                <option>PFIN</option>
            </select>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <br>
        <hr>
        <div class="row">
            <h2>Search Result</h2>
            <table class="table table-hover">

            </table>
        </div>
    </div>
    <br>

</div>